@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --EditListingDescriptionForm_formMargins: {
    margin-bottom: 24px;

    @media (--viewportMedium) {
      margin-bottom: 32px;
    }
  }
}

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.title {
  @apply --EditListingDescriptionForm_formMargins;
}

.description {
  @apply --EditListingDescriptionForm_formMargins;
  flex-shrink: 0;
}

.pastClients {
  @apply --EditListingDescriptionForm_formMargins;
  flex-shrink: 0;
}

.certificate {
  @apply --EditListingDescriptionForm_formMargins;
}


.minimumNoticeToBook {
  @apply --EditListingDescriptionForm_formMargins;
}
.VenueType{
  @apply --EditListingDescriptionForm_formMargins;
}
.minimumBooking
.maximumOccupancyNumber
.minimumNoticeToBook
.selectsRow {
  @apply --EditListingDescriptionForm_formMargins;
}

.radioRow,
.selectsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.radioRowLeft {
  width: 40px;
}
.radioRowRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
.availabilityRadioGroup {
  padding-bottom: 20px;
}
.hourField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  padding: 0 8px;
}
.selectsSplit {
  width: calc(50% - 10px);
  padding-right: 16px;
  @apply --EditListingDescriptionForm_formMargins;
}
.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}
